<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Profil de <%= @user.email %></h2>

          <dl class="row">
            <dt class="col-sm-3">Prénom:</dt>
            <dd class="col-sm-9"><%= @user.first_name %></dd>

            <dt class="col-sm-3">Nom:</dt>
            <dd class="col-sm-9"><%= @user.last_name %></dd>

            <dt class="col-sm-3">Description:</dt>
            <dd class="col-sm-9"><%= @user.description %></dd>
          </dl>

          <h3 class="mt-4">Événements créés par <%= @user.email %></h3>
          <ul>
            <% @user.admin_events.each do |event| %>
              <li><%= link_to event.title, event_path(event) %></li>
            <% end %>
          </ul>

          <% if current_user == @user %>
            <%= link_to "Modifier le profil", edit_user_registration_path, class: "btn btn-primary" %>
          <% end %>

          
        </div>
      </div>
    </div>
  </div>
</div>
