<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<h1>Profil de <%= @user.email %></h1>

<p><strong>Prénom:</strong> <%= @user.first_name %></p>
<p><strong>Nom:</strong> <%= @user.last_name %></p>
<p><strong>Description:</strong> <%= @user.description %></p>

<h2>Événements créés par <%= @user.email %></h2>
<ul>
  <% @user.admin_events.each do |event| %>
    <li><%= link_to event.title, event_path(event) %></li>
  <% end %>
</ul>

<% if current_user == @user %>
  <%= link_to "Modifier le profil", edit_user_registration_path %>
<% end %>

<p>Bienvenue sur la page d'ajout d'un avatar pour le User portant l'id : <%=@user.id%></p>
<h3>Avatar actuel</h3>
<%if @user.avatar.attached?%>
  <%= image_tag @user.avatar, alt: 'avatar' %>
<%else%>
  <p>=== Il n'y a pas encore d'avatar lié à cet utilisateur ===</p>
<%end%>
<h3>Changer d'avatar ?</h3>
<%= form_tag user_avatars_path(@user), multipart: true do %>
  <%= file_field_tag :avatar %>
  <%= submit_tag "mettre à jour" %>
<% end %>