<div class="container mt-5">
  <h1><%= @event.title %></h1>
  <p><%= @event.description %></p>

  <ul>
    <li>Nombre d'inscrits : <%= @event.participants.count %></li>
    <li>Créateur : <%= @event.user.email %></li>
    <li>Date de début : <%= @event.start_date.strftime("%d %B %Y %H:%M") %></li>
    <li>Date de fin : <%= @event.end_date.strftime("%d %B %Y %H:%M") %></li>
    <li>Lieu : <%= @event.location %></li>
    <li>Prix : <%= number_to_currency(@event.price) %></li>
  </ul>
</div>